{% macro navBar() %}
    <header>
        <nav class="">
            <span><a href="/">Home</a></span>
            <span><a href="/chart">Charts</a></span>
            <span><a href="/vote">Voting</a></span>
            <span class="leftMargin"><a href="/change" target="_blank">Changelogs and Blogs</a></span>
            <span class="rightMargin" id="login"><a href="/signin">Login</a></span>
            <span class="hidden rightMargin" id="logout"><a href="/signout" id="outData">Logout</a></span>
        </nav>
    </header>
{% endmacro %}