html,
body {
    background-color: black;
    height: 100svh;
    width: 100%;
    color: aliceblue;
    overflow: hidden;
}

nav {
    /*Blue dark, looks better*/
    background-color: #111827;
    /*Dark grey-black*/
    /*background-color: #18181b;*/
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    max-height: 8rem;
    height: 100%;
    color: white;
    padding-left: 2rem;
    padding-right: 2rem;
    margin: 2rem;
}


.layout {
    display: grid;
    grid-template-rows: auto 1fr auto;

    height: 100%;
    /*gap: 4rem;*/
    /*height: 100%;*/
    width: 100%;
}

a {
    color: aliceblue;
    text-decoration: none;
}

span {
    font-size: 1.5rem;
}


.leftMargin {
    margin-left: auto;
}

.rightMargin {
    margin-right: 1rem;
}

.hidden {
    display: none;
}

main {
    height: 100%;
    width: 100%;
    /*display: flex;*/
    padding: 2rem;
}

input, select {
    width: 75%;
    padding: 10px;
    border: 1px solid #444;
    border-radius: 3px;
    background-color: #333;
    color: #eee;
}


ul {
    padding: 0.5rem;
    margin: 0.5rem;

}

li {
    list-style-type: none;
    font-size: 1.5rem;
    padding: 0.5rem;
    margin: 0.5rem;

}

label {
    flex: 1;
    margin-left: auto;
    margin-right: 10px;
    font-family: "Fira Code Retina", monospace;
    font-size: 1.5rem;
    color: cornsilk;

}

.fContainer {
    transition: all;
    transition-duration: 2s;
    background-color: rgba(32, 178, 170, 0.7);
}

footer {
    font-size: 1rem;
    padding: 2rem;
    background-color: #18181b;
}

@media only screen and (max-width: 600px) {
    nav {
        flex-direction: column;
        padding: 1rem;
        margin: 1rem;
        gap: 0.5rem;
    }

    span {
        font-size: 1.2rem;
    }

    main {
        padding: 1rem;
    }

    input, select {
        width: 75%;
        /*padding: 8px;*/
    }

    ul {
        padding: 0.25rem;
        margin: 0.25rem;
    }

    li {
        font-size: 1.2rem;
        padding: 0.25rem;
        margin: 0.25rem;
    }

    label {
        font-size: 1.2rem;
    }

    footer {
        padding: 1rem;
        font-size: 0.8rem;
    }

    .leftMargin {
        margin-left: 0;
    }

    .rightMargin {
        margin-right: 0;
    }
}